<nav class="bg-gray-800 p-4 text-white">
    <div class="container mx-auto flex justify-between items-center">
        <a class="text-xl font-bold" href="/">BooksRef App</a>
        <div>
            <a class="mr-4 hover:underline" routerLink="/login">Iniciar sesión</a>
            <a class="mr-4 hover:underline" routerLink="/register">Regístrate</a>
            <a class="mr-4 hover:underline" routerLink="/books">Libros</a>
            <a class="mr-4 hover:underline" routerLink="/profile" routerLinkActive="Active">Perfil</a>
        </div>
    </div>
</nav>
